{% extends 'base.html' %}
{% block title %}
About Page
{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/styles/about.css">
{% endblock %}
{% block content %}
<div>
    <title>About Plannr</title>
</div>
<div>
    <header class="main-header">
        <h1>About Plannr</h1>
        <h4>Simple Event Planning</h4>
    </header>
    <section class="intro">
        <p>
            Event Planning For Everyone, Made Easy. Plannr provides the tools and timelines to keep your event
            on track. Plannr helps split cost shares and and task deligation among your group, to eliminate
            the confusion of who is doing what.
        </p>

    </section>
    <section class="connect-me">
        <article>
            <h3>Connect With Plannr On Instagram</h3>
            <div class="Image" style="background:url(../static/images/MoreImages/14.png)"></div>
            <p>
                Connect to Plannr on IG by following this link... <a class="social"
                    href="https://www.twitter.com/WPlannr">Connect</a>



            </p>
        </article>
        <article>
            <h3>Connect with Plannr On Twitter</h3>
            <div class="Image" style="background:url(../static/images/MoreImages/12.png)"></div>
            <p>
                Connect to Plannr on Twitter by following this link... <a class="social"
                    href="https://www.instagram.com/we.are.plannr">Connect</a>
            </p>
        </article>


    </section>
</div>

{% endblock %}