<div class="container-fluid text-center">

    <h1>About Plannr</h1>
    <p class="lead">
        Simple Event Planning
    <p>Event Planning For Everyone, Made Easy.</p>
    <p>Plannr provides the tools and timelines to keep your event on track.</>
    <p>Plannr helps split cost shares and and task deligation among your group, to eliminate the confusion of who is
        doing what.</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <div class="jumbotron text-center mb-0" style="background-color: rgb(0, 0, 0)">
        <p class="lead mb-4">Thank You For Choosing Plannr</p>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-warning">Plan Now</button>
        </div>

    </div>
    <!-- CALL TO ACTION -->



    <div class="bg-secondary p-5 text-white">
        &copy; 2021 Plannr
    </div>