<form action="">
    <div class="form">
        <input type="text" placeholder="Event Name">
        <div class="date">
            <div class="dateItem">
                <label for="startDate">Start: </label>
                <input type="date" name='startDate'>
            </div>
            <div class="dateItem">
                <label for="endDate">End: </label>
                <input type="date" name='endDate'>
            </div>
        </div>
        <label for="participants">Participants: </label>
        <input type="email" name="participants" placeholder="something@email.com">
        <label for="eventDiscription">Disc: </label>
        <input type="text" placeholder="Discription" name="eventDiscription">
    </div>
</form>