{% extends 'base.html' %}
    {% block title %}
        formPage
    {% endblock %}
    {% block head %}
    <link rel="stylesheet" href="/static/styles/formPage.css">
    <link rel="stylesheet" href="/static/styles/form.css">
    {% endblock %}
    {% block content %}
    <div class='formPageContent'>
        <form action="">
            <div class="form">
                {% for form in context['jsonData'] %}
                    {% if context['formName'] == form['eventName'] %}
                        <input type="text" placeholder="Event Name" class="eventName" style="border: none;" value="{{form['eventName']}}">
                        <div class="date">
                            <div class="dateItem">
                                <label for="startDate">Start: </label>
                                <input type="date" name='startDate' value="{{form['startDate']}}">
                            </div>
                            <div class="dateItem">
                                <label for="endDate">End: </label>
                                <input type="date" name='endDate' value="{{form['endDate']}}">
                            </div>
                        </div>
                        <label for="participants">Participants: </label>
                        <input type="email" name="participants" placeholder="something@email.com" value="{{form['participants']}}">
                        <label for="location">Location: </label>
                        <input type="address" name="location" placeholder="123 Sesame Street" value="{{form['location']}}">
                        <label for="budget">Budget: </label>
                        <input type="number" name="budget" placeholder="$0.0" value="{{form['budget']}}">
                        <label for="suppliers">Suppliers: </label>
                        <input type="email" name="suppliers" placeholder="something@email.com / Location / Name" value="{{form['suppliers']}}">
                        <label for="eventDiscription">Disc: </label>
                        <textarea name="eventDiscription" class="eventDiscription" cols="30" rows="10" placeholder="Discription...">{{form['eventDiscription']}}</textarea>
                    {% endif %}
                {% endfor %}
            </div>
        </form>
    </div>
    {% endblock %}
