{% extends 'base.html' %}
    {% block title %}
        Page1
    {% endblock %}
    {% block head %}
    <link rel="stylesheet" href="/static/styles/page1.css">
    <link rel="stylesheet" href="/static/styles/form.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/javascript/addElement.js"></script>
    {% endblock %}
    {% block content %}
    <div class='page1Content'>
        <div class="eventsChart">
            {% for event in eventList: %}
                {% include 'form.html' %}
            {% endfor %}
            {% include 'form.html' %}
        </div>
        <button id="addForm" type="button" onclick="addForm()">Add Event</button>
    </div>
    {% endblock %}
