{% extends 'base.html' %}
    {% block title %}
        Page1
    {% endblock %}
    {% block head %}
    <link rel="stylesheet" href="/static/styles/page1.css">
    {% endblock %}
    {% block content %}
    <div class='page1Content'>
        {% macro newBox() %}
            <div class="editBox" contentEditable="true">
                <!-- EditableContent -->
                something goes here
            </div>
        {%- endmacro %}
        <button onclick="
                {{newBox()}}
            ">
                Create New Box
        </button>
        

    </div>
    {% endblock %}
