.formList {
    padding: 1em;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.listGreeting{
    margin-top: 15px;
    margin-bottom: 20px;
}
.listDescription{
    text-align: center;
}
.listTitle{
    text-align: center;
}
.formTitle{
    text-align: center;
    margin-bottom: 5px;
    text-decoration: underline;
}
.formItem {
    border: solid black 1px;
    width: 20vw;
    margin: 0 1em 1em 0;
}
.formItemContent {
    color: black;
    padding: 1em;
}