.homeContent > div, .homeContent > div > div{
    padding-top: 1em;
}
.hero {
    text-align: center;
    font-size: larger;
    padding: 0 1em 1em 1em;
}
.heroBlock {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroBlock > img {
    height: 500px;
    width: 950px;
    border: 2px solid black;
}
.greeting{
    font-weight: bolder;
}
.heroBlock > h1 {
    margin-left: 15px;
}

.greetingBreak{
    margin-top: 50px;
    text-align: center;
}
.greetingImg{
    border-radius: 50%;
    transition: 1s;
}
.greetingImg:hover{
    transform: scale(1.02);
}
.breakText{
    color: #d5c9c4;
    background: rgb(207,133,107);
    background: linear-gradient(180deg, rgba(207,133,107,1) 0%, rgba(39,26,25,1) 100%);
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 38pt;
    border: 2px solid black;
}
.showcase {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 20px;
}
.showcaseImages {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.showcaseDescription{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 25px;
}

.showcaseCards{
    display: flex;
    margin-bottom: 20px;
}

.card{
    margin-left: 5px;
    margin-right: 5px;
}

.cardImg{
    height: 70%;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }

.card > h4 {
    font-weight: 400;
}

.container > h4 {
    font-size: 18pt;
    padding-bottom: 10px;
}
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.308);
    transform: scale(1.01);
  }
  
  .container {
    padding: 2px 16px;
  }