.homeContent > div, .homeContent > div > div{
    padding-top: 1em;
}
.homeContent {
    padding: 0 1em 1em 1em;
}
.hero {
    text-align: center;
    margin-top: 20px;
}
.heroBlock {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}
.heroBlock > img {
    margin-right: 1em;
    height: 400;
    width: 125%;
    border: 1px solid black;
    box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
}
.heroBlock > p {
    display: flex;
    align-items: center;
}
.showcase {
    margin-top: 25px;
    text-align: center;
}
.showcaseImages {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.showImg {
    padding-right: 15px;
    width: 600px;
    height: 250px;
}
