.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #271a19;
    color: #d5c9c4;
    padding: 1em;
}
.name{
    background-color: #271a19;
    font-size: larger;
    font-weight: 800;
    padding: 0;
}
.navLeft, .navRight {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.navbar > ul > li {
    padding-right: 1em;
    background-color: #271a19;
}
a {
    color: #d5c9c4;
    text-decoration: none;
    background-color: #271a19;

}
#homeLink {
    border-bottom: solid rgb(32, 32, 32) 2px;
}