.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: grey;
    color: white;
    padding: 1.5em;
}
.navLeft, .navRight {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.navbar > ul > li {
    padding-right: 1em;
}
a {
    color: white;
    text-decoration: none;
}
#homeLink {
    border-bottom: solid white 2px;
}