.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #DDCAD9;
    color: #7C616C;
    padding: 1.5em;
    border-bottom: 1px solid black;
}
.navLeft, .navRight {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.navbar > ul > li {
    padding-right: 1em;
    background-color: #DDCAD9;
}
a {
    font-size: large;
    color: #7C616C;
    text-decoration: none;
    background-color: #DDCAD9;
}
#homeLink {
    border-bottom: solid white 2px;
}